#background {
    width: 100%;
    height: 100%;
    fill: black;
}
#poly1{
    fill: 'aqua';
    
}
#poly2 {
    fill: 'orange';
    x: 200;
}

.lines {
    stroke-linejoin: round;/*not supported on device*/
    /*📍looking good on device, where gaps in sim */
    /* stroke-linecap: round;*/
    fill: inherit;
    display: none;
    opacity:1;
    
}
